.FooterBar {
  width: 30em;
  height: 3em;
  margin-top: 4em;
  background-color: #E0E0E0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.timer {
  width: 6em;
  height: 3em;
  background-color: #66BB6A;
  display: flex;
  align-items: center;
  justify-content: center;

  p { 
    color: white;
    font-size: 21px;
    margin: 0;
   };
}

.users {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
}

.users__user {
  width: 2em;
  height: 2em;
  background-color: #9C27B0;
  border-radius: 50%;
  margin: 0 5px;
}